*.pkl*.pkl
FCC*/*
FCC
logs
logs/*
event_display/*
cluster_hitmaps_centered/*
vtx_comparison_plots/*
Classification_AB/*
AB_Full_Classifier_outputs/*
cnn_output/*
cnn_output
CNN_AB
CNN_AB/*
CNN_AB_new/CNN_2c*/
CNN_balance.py
CNN_method.py
cluster_hitmap.py
CNN_patch_classifier.py
data.py
patch_maker_copy.py
patch_maker.py
__pycache__/*
CNN_AB_new/repeat_results*
NN_test
ROOT_tutorial
*.pt*
*.pyc
*.npy
run_gpu.sh